.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 92px 50px;
  max-width: 1340px;
}
.header__menu {
  vertical-align: middle;
  margin-top: 43px;
  margin-bottom: 45px;
}
.header__links-list {
  display: flex;
  list-style-type: circle;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}
.header__links-list-item {
  margin-right: 32px;
}
.header__links-list-item:last-child {
  margin-right: 0px;
}
.header__links-list-item_no-bullit {
  list-style-type: none;
}
.header__link-active {
  text-decoration: none;
}
.header__logo-image {
  height: 105px;
}
.address {
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 7px;
}
.header__link {
  border-bottom: 1px solid black;
  text-decoration: none;
}

/*main*/

/*заголовок*/
.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  padding: 165px 50px 50px 50px;
  max-width: 1440px;
  position: relative;
  margin-bottom: 180px;
  background-position: center;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.cover-title {
  z-index: 2;
  position: relative;
}
.aligned-text {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.aligned-text-left {
  line-height: 115px;
}
.aligned-text-center {
  align-self: center;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 100px;
  margin-right: 60px;
}
.aligned-text-right {
  align-self: flex-end;
  line-height: 100px;
}
.letter-spacing {
  letter-spacing: 30px;
}
.letter-spacing-extended {
  letter-spacing: 60px;
}
.no-letter-spacing {
  letter-spacing: 0px;
}
.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-top: 138px;
}
.cover__description-text {
  text-transform: uppercase;
  color: white;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 17px;
}
.bet-button {
  width: 257px;
  height: 52px;
  text-transform: uppercase;
  color: white;
  font-size: 22px;
  border: 1px solid white;
  background-color: transparent;
  margin-left: 82px;
}

/*лоты*/

.lots {
  max-width: 1340px;
  margin: 0px 50px 180px 50px;
}
.lots__heading {
  margin-left: 40px;
  font-size: 40px;
  line-height: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  margin-bottom: 30px;
}
.lots__card-list-item {
  width: 430px;
  min-height: 450px;
  margin-right: 25px;
}
.lots__card-list-item:last-child {
  flex-grow: 1;
  margin-bottom: 0;
  margin-right: 0;
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
}
.card {
  height: 100%;
  position: relative;
  padding: 50px 40px 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card_type_film {
  background: url(../images/card-lot-01.jpg);
  background-size: cover;
}
.card_type_book {
  background: url(../images/card-lot-02.jpg);
  background-size: cover;
}
.card_type_picture {
  background: url(../images/card-lot-03.jpg);
  background-size: cover;
}
.card__title {
  position: relative;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
}
.card__text {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}
.lots__link {
  margin-left: 40px;
  font-size: 20px;
  line-height: normal;
  font-weight: 400;
}

/*об аукционе*/

.about {
  margin: 0px 50px 180px 50px;
  max-width: 1340px;
  display: grid;
  grid-template-columns: 430px auto;
}
.about__logo {
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  padding-top: 63px;
}
.about__logo-image {
  display: block;
  height: 114px;
}
.about__title {
  text-transform: uppercase;
  line-height: normal;
  font-size: 40px;
  font-weight: 700;
  margin: 100px 0px 100px 25px;
}
.about__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 25px;
}
.about__text-after {
  margin-bottom: 25px;
}

/*подвал*/

.footer {
  max-width: 1340px;
  margin: 0 50px 90px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer__address {
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
}
.footer__menu {
  list-style-type: none;
  text-align: center;
  font-size: 18px;
  line-height: normal;
}
.footer__social-list {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  width: 240px;
}
.footer__social-list-item {
  height: 48px;
  width: 48px;
}
.footer__link {
  border-bottom: 1px solid black;
  text-decoration: none;
}
.footer__link-active {
  text-decoration: none;
}
